<!DOCTYPE html>
<html>
<head>
    <title>Image Color Extractor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="card">
        {% if color_code %}
            <div class="image-preview">
                <img style="width:100%" src="{{ url_for('static', filename='uploads/' + image_file) }}" alt="Uploaded Image">
            </div>
            <div class="color-preview" style="background-color: {{ color_code }};"></div>
            <h2>Average color: <span style="background-color: {{ color_code }}; color: #fff;">{{ color_code }}</span></h2>
        {% endif %}
        <!-- Rest of the template remains unchanged -->
        {% if color_range %}
        <h3>{{ color_range }}</h3>
        {% endif %}

        <form method="post" enctype="multipart/form-data">
            <input type="file" name="file" accept="image/*" required>
            <input class="submit" type="submit" value="Submit">
        </form>
        {% if color_range %}
            <p class="disclaimer">
                This is a robotic analysis.
                Please don't take this result seriously since robots see the world in numbers and humans see the world with senses and feelings!
                If you think your image is rare, it is!
            </p>
        {% endif %}
    </div>
</body>
</html>
